
body
{
    background-color: darkgray;
}

/*floats the image*/
.floatImgLeft
{
 float: left;   
 margin-right: 15px; 
 size:parent;
}

footer 
{
    position: absolute;
    bottom: 0;
    height: 40px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color:#3f6148;
 }
/*padds upper left label in navbar*/
.textPadding
{
    padding-left: 4px;
    padding-right: 4px;
}






