
body{
    background-color: darkgray;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color:#3f6148;
 }

/*This pads the upper left label*/
.textPadding
{
    padding-left: 4px;
    padding-right: 4px;
}




@media screen and (min-width: 1500px) {
  /* The body's bg color will be #333 */
    .placeJT{
       margin-left: 1rem!important;
       width: 88%;
    }

 
}


@media screen and (max-width: 992px) {
  /* The body's bg color will be #333 */
    .placeJT{
       margin-left: 0rem!important;
       width: 99%;
    }

 
}


@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
    .placeJT{
       margin-left: 1rem!important;
       width: 96%;
    }

 
}

@media screen and (max-width: 400px) {
  /* The body's bg color will be #333 */
    .placeJT{
        margin-left: 0rem;
        
    }

 
}



